<div class="container-fluid bg-light min-vh-100">
    <div class="row justify-content-center align-items-center min-vh-100">
        <div class="col-sm-8 col-md-6 col-xxl-3">
            <div class="card shadow">
                <div class="card-header bg-white border-0 p-4">
                    <div class="d-flex flex-row mb-3 justify-content-center align-items-center" style="margin-left:-10px;">
                        <img src="assets/img/logo2.png" alt="BondSpace" height="80">
                        <h2 class="text-center mb-3" style="margin-top:12px; margin-left: 10px;">BondSpace</h2>
                    </div>
                    <p class="text-center text-muted">Welcome back! Please log in to your BondSpace account below.</p>
                </div>
                <div class="card-body px-4">
                    <form #loginForm="ngForm" (ngSubmit)="onSubmit()">
                        <div class="mb-3">
                            <label for="email" class="form-label">Email address</label>
                            <input 
                                type="email" 
                                class="form-control" 
                                id="email" 
                                [(ngModel)]="email" 
                                name="email"
                                #emailInput="ngModel"
                                placeholder="Enter your email"
                                required>
                            <small class="text-danger" *ngIf="emailInput.invalid && emailInput.touched">
                                Email is required
                            </small>
                        </div>
                        <div class="mb-4">
                            <label for="password" class="form-label">Password</label>
                            <input 
                                type="password" 
                                class="form-control" 
                                id="password" 
                                [(ngModel)]="password" 
                                name="password"
                                #passwordInput="ngModel"
                                placeholder="Enter your password"
                                required>
                                <small class="text-danger" *ngIf="passwordInput.invalid && passwordInput.touched">
                                    Password is required
                                </small>
                        </div>
                        <div class="d-grid gap-2 mb-4">
                            <button type="submit" class="btn btn-warning" [disabled]="loginForm.invalid">Log in</button>
                        </div>
                        <p class="text-center mb-0">
                            Don't have an account? 
                            <a routerLink="/register" class="link-opacity-100" role="button">Register</a>
                        </p>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>